.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ebecf0;
  height: 100vh;
}

.App--container {
  width: 80%;
  height: 80vh;
  margin-top: 30px;
  overflow: scroll;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-color: white;
}

.App--container::-webkit-scrollbar {
  display: none;
}
